.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    max-width: 1330px;
    margin: 20px auto;

}

.right__header{
    display: flex;
    align-items: center;
}


.header__user{
    background: var(--color-secondary);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    margin-right: 26px;

}

.header__company{
    display: inline-block;
    width: 90px;
    height: 35px;
    background: #fff;
    border: 1px solid var(--color-border-company);
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;

}

.header__company > img{

    max-width: 66px;

}


.left__header{

    display: flex;
    align-items: center;

}

.left__header > input{

    width: 300px;
    height: 40px;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}


.left__header > input:hover{

    box-shadow: 1px 1px 10px 7px rgba(204, 207, 222, 1);
}

.left__buttonJornada{
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    background: var(--color-secondary);
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    font-family: 'Gotham-Bold';
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;

}

.left__buttonJornada:hover{
    background: transparent linear-gradient(90deg, #00E1FF 0%, #117EFF 100%) 0% 0% no-repeat padding-box;

}

.left__buttonJornada > img{

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}



.modal {
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    -webkit-transition: 1.1s ease-out;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  .modal.off {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-transform: scale(0.33);
            transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }