.journeyTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 34px auto;
}

.journeyTable .journeyHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
}


.journeyTable .journeyHeader > span{

    color: var(--color-primary-lighter);
    font-size: 14px;
    font-family: 'Gotham-Book';
    text-transform: capitalize;
}


.journeyHeader .journeyName{

    min-width: 200px;
    padding-left: 0 !important;
}
.journeyItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 31px 0 50px;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    background: #fff;
}

.journeyItem .journeyItemName{

    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Gotham-Bold';
    color: var(--color-primary);
    min-width: 250px;
    text-align: left;
}

.journeyItem .journeyItemSucess{
    min-width: 45px;
    margin-right: 25px;
}

.journeyItemDestiny{
    min-width: 90px;
    margin-right: 70px;
    
}

.journeyItem > span{
    background: #fff;
    text-align: center;
}