.App{
    display: flex;
    background: var(--color-background);
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.mainContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 90px;
    max-width: 1330px;
    margin: 20px auto;
}

.mainContent .leftContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 20px 0;
}

.mainContent .leftContent h2{
    font-family: 'Gotham-Bold';
    color: var(--color-primary);
    font-size: 16px;
    margin-bottom: 34px;

}