.App{
    display: flex;
    background: var(--color-background);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    flex-direction: column;
}

.mainContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-width: 1330px;
    margin: 50px auto;
}

.mainContent .leftContent{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 20px 0;
}

.mainContent .leftContent h2{
    font-family: 'Gotham-Bold';
    color: var(--color-primary);
    font-size: 16px;
    margin-bottom: 34px;

}

.mainContent .rightContent{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0;
    justify-content: center;
    width: 70%;
    align-items: center;
}


@media screen and (max-width: 1440px){

    .mainContent{
        width: 80%;
    }
    

}