.itemJornadas{
    display: flex;
    align-items: center;
    max-width: 200px;
    height: auto;
}

.itemJornadas:first{
    margin-bottom: 10px;
}

.itemJornadas:hover{
    cursor: pointer;
}

.itemJornadas {

    margin: 20px 0;

}